<!DOCTYPE html>
<html>
  <head>
    <title>Minfulness Web</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Mindfulness - Virtual reality</p>
  </body>
</html>
