<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h3>Project of M.I.N.D Lab</h3>
    <a href="/options"> Click here to change Game Options </a>
  </body>
</html>
