<!DOCTYPE html>
<html>

<head>
    <title>Mindfulness</title>

  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script type="text/javascript" src=" /javascripts/optionsPage.js "></script>
</head>

<body>
    <%  var dayMode = "";
    var nightMode = ""; %>

  <h1>Game Options</h1><br>
  
  <form action="/options" method="post">

    <input type="text" name="name">
    <br><br><br>
    <h3> Current Time Mode : <%= timeMode%> </h3>
    <br><br>
    <div class="btn-group" data-toggle="buttons">

        <% if(timeMode == "Day"){
          dayMode = "active"; 
        } else{
          nightMode = "active";
        } %>
        <label class="btn btn-primary <%= dayMode%>">
          <input type="radio" name="mode" value="Day" autocomplete="off"> Daytime
        </label>
        <label class="btn btn-primary <%= nightMode%>">
          <input type="radio" name="mode" value="Night" autocomplete="off"> Sunset
        </label>
      </div><br><br><br>

    <button type="submit">Submit</button>
    <form>
    
        
</body>

</html>